# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar log files
*.log

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
